<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33515813402-4b0lk3anvpt160cg61n0n0ingif7jc4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33515813402-4b0lk3anvpt160cg61n0n0ingif7jc4t</string>
	<key>API_KEY</key>
	<string>AIzaSyCnu6oyVNBuQ8WpUgzVo_LaXkD2Dv57No4</string>
	<key>GCM_SENDER_ID</key>
	<string>33515813402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.InKart</string>
	<key>PROJECT_ID</key>
	<string>inkartadminapp</string>
	<key>STORAGE_BUCKET</key>
	<string>inkartadminapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33515813402:ios:200ee5e7307968afbbefa3</string>
	<key>DATABASE_URL</key>
	<string>https://inkartadminapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>